body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("adv.jpg" );
  background-size:200vh;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styling navbar */
.navb{
  background-color: rgb(100, 177, 84);
  padding-bottom: 40px;
  padding-top: 3px;
  /* box-shadow: 5px 10px 18px white ; */
}
.navb li {
  float:right;
  display: inline;
  padding-right: 20px;
  text-decoration: none;
}
.navb ul h3 {
  text-decoration: none;
  
}

.card{
  border: none;
  
  
}
.card-header{
  border:none;
}






.dlt button{
  color: red;
}

